@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-image: url("../Assets/Images/banner-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    font-family: "Inter", sans-serif !important;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%;  */
    width: 100%;
    padding-top: 8rem;
}

.food-bg {
    background-image: url('../Assets/Images/background\ image\ recipe-01\ 1.png');
    height: 700px;
    border-radius: 24px;
}

.login-box {
    /* display: flex;  */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    border-radius: 24px;
    background-color: #FEFEFEF0;
    box-shadow: 0px 0px 14px 0px #00000052;
    /* padding-bottom: 3rem; */
}

.mc-box img {
    width: 100%;
    /* max-width: 315px; */
    max-width: 365px;
    object-fit: cover;
    height: auto;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
    position: absolute;
}

.video {
    text-align: center;
}

.ms-love {
    padding-left: 30px;
    color: #4F4F4F;

    font-family: Inter;
    font-size: 27px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;

}

.video-play {
    width: 100%;
    max-width: 338px;
    height: 200px;
    border-radius: 4px;
    background-color: #333333;
    box-shadow: 1px 1px 9px 0px #0000005C inset;

    display: flex;
    justify-content: center;
}

.login-form {
    /* background-color: rgba(254, 254, 254, 0.94); 
    opacity: 94%;
    height: 60vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.Welcome {
    color: #333333;
    font-family: Inter;
    /* font-size: 24px; */
    font-weight: 800;
    line-height: 42px;
    text-align: center;
    font-weight: bold;
    color: #333333;

}

h2.Welcome {
    color: #333333;

}

.form-contro {
    width: 206px;
}

/* input#exampleInputEmail1{

    width: 270px;
    height:35px;
    border-radius: 10px; 

} */
input#exampleInputPassword1 {
    width: 270px;
    height: 35px;
    border-radius: 10px;
}

input#exampleInputUsername {
    width: 270px;
    height: 35px;
    border-radius: 10px;

}

.submit-btn {
    width: 206px;
    height: 28px;
    padding: 6px 7px 6px 7px;
    gap: 10px;
    border-radius: 5px;
    opacity: 0px;
    background: linear-gradient(0deg, var(--brand-color-primary, #E01010), var(--brand-color-primary, #E01010)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);
    color: #FEFEFE;
    border: 0;
}

button.btn.submit-btn {
    color: #FEFEFE;
    height: 30px;
    width: 70%;
    height: 40px;


}

.product-btn {
    width: 200px;
    height: 28px;
    padding: 6px 12px 6px 12px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;

}

.mc-box {
    text-align: center;
    padding-top: 3rem;
}

.video {
    margin-top: 4rem;

}

.video-play {
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.forgot {
    padding-right: 102px;
}

form {
    padding-top: 4rem;
}

.master-cook-products {
    margin-top: 4rem;
}

.master-cook-products a {
    color: white;
}

button.btn.btn-danger {
    background: linear-gradient(0deg, var(--brand-color-primary, #E01010), var(--brand-color-primary, #E01010)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);
    margin-left: 2rem;
    margin-top: 1rem;
}

button.btn.submit-btn {
    width: 58%;
    margin-top: 1rem;
}

.account {
    padding: 50px;
}

.account a {
    color: #268EFF;
}

.user {
    display: flex;
    justify-content: center;
}

.password {
    display: flex;
    justify-content: center;
}

.head {
    padding: 0 !important;
}

.submit-btn:focus {
    outline: none;
}

p.video-content {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: #333333;


}


@media (max-width: 1605px) {
    .video-play {
        padding-left: 2rem;
    }

}

/* responsive  for all screens*/

@media (max-width: 575.98px) {
    .video-play {
        width: 65%;
        margin-left: 3rem;
    }

    .mc-box img {
        width: 80%;
    }

    p.account {
        padding: 0;
    }

    input#exampleInputUsername {
        width: 151px;
    }

    input#exampleInputPassword1 {
        width: 151px;
    }

    .forgot {
        padding-right: 26px !important;
    }
}

@media (max-width: 767.98px) {
    .video-play {
        margin-left: 2rem;
    }
}

@media (max-width: 1199.98px) {
    .mc-box img {
        width: 75%;
    }

    .video-play {
        width: 65%;
        margin-left: 3rem;
    }

}

@media (max-width: 1399.98px) {
    .account {
        font-size: 14px;
    }

    .mc-box img {
        width: 75%;
    }

    .video-play {
        width: 91%;
        margin-left: 1rem;
    }

}

@media (min-width: 1400px) and (max-width:1599px) {
    .account {
        font-size: 14px;
    }

    .mc-box img {
        width: 75%;
    }

    .video-play {
        width: 91%;
        margin-left: 1rem;
    }

}

@media (min-width: 1600px) and (max-width:1800px) {


    .video-play {
        width: 100%;
        margin-left: 30px;
    }

}



@media (max-width: 320px) {
    .video-play {
        width: 65%;
        margin-left: 2rem;
    }

    input#exampleInputUsername {
        width: 151px;
    }

    input#exampleInputPassword1 {
        width: 151px;
    }

    .forgot {
        padding-right: 26px !important;
    }

    .ms-love {
        padding-left: 13px;
    }

}

.forgot a {
    color: #4F4F4F;
    text-decoration: none;
    font-weight: 400px;
}

.pro {
    background: linear-gradient(0deg, var(--brand-color-primary, #E01010), var(--brand-color-primary, #E01010)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);
    padding-top: 1rem;

}

.pro a {
    color: white;

}

.submit-btn a {
    color: white;
    text-decoration: none;
}

.reset {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    color: #333333;
    display: flex;
    justify-content: center;
    width: 99%;
    padding-top: 10px;

}

.modal-content {

    width: 376px !important;
    height: 310px !important;
    border-radius: 16px !important;
}

.reset-content {
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #333333;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 10px;

}

input#exampleInputEmail1 {
    width: 206px;
    height: 22px;
    padding: 3px 3px 3px 7px;
    gap: 5px;
    border-radius: 5px;
    opacity: 0px;
    background: #FEFEFE;
    box-shadow: 0px 0px 0px 3px #007AFF80;

    box-shadow: 0px 0px 0px 0.5px #0000000D;

    box-shadow: 0px 0.5px 2.5px 0px #0000004D;
    margin-top: 10px;

}
button.btn.btn-secondary.send-link{
    width: 101px;
    height: 33px;
    padding: 3px 13px 6px 13px;

gap: 0px;
border-radius: 5px;
opacity: 0px;
background: linear-gradient(0deg, var(--brand-color-primary, #E01010), var(--brand-color-primary, #E01010)),
linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);
box-shadow: 0px 0px 0px 0.5px #007AFF1F;

box-shadow: 0px 1px 2.5px 0px #007AFF3D;
border: 0;
margin-top: 24px;

}
.modal-footer{
    justify-content: center !important;
}
.need{
    font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 16px;
text-align: center;
color:  #268EFF;

}
.modal-header{
    border-bottom: none !important;
}
.modal-footer{
    border-top:0 !important;
}


.modal-content.reset-email{
 
    height: 225px !important;
    width: 257px !important;
}
.verification{
    display: flex;
    justify-content:center ;
    width: 100%;
}
.password-reset{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: center;
color: #333333;
padding-top: 20px;
}


button.btn.btn-secondary.Check-email{
    width:119px;
height: 37px;
padding: 6px 10px 6px 10px;
gap: 0px;
border-radius: 5px;
opacity: 0px;
background: linear-gradient(0deg, var(--brand-color-primary, #E01010), var(--brand-color-primary, #E01010)),
linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);
border: 0;

}
.check-email a{
    color: white ;


}
/* .verification img{
    margin-top: 20px;
} */
.modal-body{
    padding: 0 !important;
}


button.btn-close.section-closing{
    width: 20px !important;
height: 20px !important;
gap: 0px;
opacity: 0px;
background: #F54D4D;
border-radius: 50%;
padding: 0;
color: white;
}
.check-email{
    color: white;
}
h1#staticBackdropLabel{
    font-size: 27px !important;
}